<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузить файл для анализа</title>
    <link rel="stylesheet" href="{% static 'analyze.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>

    <div class="container">
        <h1 class="main-title">Загрузить файл для анализа</h1>

        <form id="file-upload-form" enctype="multipart/form-data" method="post" class="upload-form">
            {% csrf_token %}
            <label for="file-input" class="file-label">Выберите файл (XLS, XLSX, CSV):</label>
            <input type="file" id="file-input" name="file" class="input-file" accept=".xls, .xlsx, .csv" required>
            <button type="submit" class="btn-submit">Отправить файл</button>
        </form>        
        <p id="upload-error" class="error-message"></p>
    </div>

    <!-- Выбор графика и столбцов -->
    <div class="chart-options">
        <label for="chart-type" class="chart-label">Выберите тип графика</label>
        <select id="chart-type" class="select-chart">
            <option value="scatter_matrix">Scatter Matrix</option>
            <option value="histogram">Histogram</option>
            <option value="heatmap">Heatmap</option>
            <option value="scatter_plot">Scatter Plot</option>
            <option value="box_plot">Box Plot</option>
            <option value="pie_chart">Pie Chart</option>
            <option value="multiple_histograms">Multiple Histograms</option>
            <option value="line_chart">Line Chart</option>
            <option value="logarithmic_chart">Logarithmic Chart</option>
        </select>

        <!-- Выпадающие списки для выбора столбцов -->
        <label for="x-axis" class="chart-label">Выберите X-ось</label>
        <select id="x-axis" class="select-chart"></select>

        <label for="y-axis" class="chart-label">Выберите Y-ось</label>
        <select id="y-axis" class="select-chart"></select>

        <button id="build-chart" class="btn-chart">Построить график</button>
    </div>

    <!-- Блок для графика -->
    <div id="chart-container" class="chart-container">
        <div id="chart"></div> <!-- Исправлено на <div> для Plotly -->
    </div>

    <!-- Подключение Plotly и собственного скрипта -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'analyze.js' %}"></script>
</body>
</html>
