<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ данных</title>
    <link rel="stylesheet" href="{% static 'analyze.css' %}">
    <!-- Подключение Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="page-container">
        <!-- Шапка страницы -->
        <header class="header">
            <div class="logo-container">
                <img src="{% static 'img/logo.jpg' %}" alt="Логотип" class="logo">
            </div>
            <nav class="nav-bar">
                <ul class="nav-list">
                    <li><a href="{% url 'authentication:modules' %}" class="nav-button">Модули</a></li>
                    <li><a href="{% url 'authentication:log' %}" class="nav-button">Выход</a></li>
                </ul>
            </nav>
        </header>
        <!-- Основное содержание -->
        <main class="main-content">
            <h1 class="title">Анализ данных</h1>
            <!-- Форма загрузки файла -->
            <form id="file-upload-form" enctype="multipart/form-data" method="post" class="upload-form">
                {% csrf_token %}
                <label for="file-input" class="file-label">Загрузите файл данных (XLSX, CSV):</label>
                <input type="file" id="file-input" name="file" class="input-file" accept=".xls, .xlsx, .csv" required>
                <button type="submit" class="btn-submit">Загрузить</button>
            </form>
            <!-- Контейнер для сообщений -->
            <div id="message-container" class="message-container hidden"></div>
            <!-- Прогресс-бар -->
            <div id="progress-container" class="progress-container hidden">
                <progress id="progress-bar" max="100" value="0"></progress>
            </div>
            <!-- Опции для построения графиков -->
            <div id="chart-options" class="chart-options hidden">
                <h2 class="subtitle">Выберите параметры для графика</h2>
                <label for="chart-type" class="chart-label">
                    Тип графика:
                    <div class="tooltip" tabindex="0">
                        ❓
                        <span class="tooltip-text" id="chart-tooltip">Выберите тип графика для анализа данных.</span>
                    </div>
                </label>
                <select id="chart-type" class="select-input">
                    <option value="scatter_matrix">Матрица рассеяния</option>
                    <option value="histogram">Гистограмма</option>
                    <option value="heatmap">Тепловая карта</option>
                    <option value="scatter_plot">Диаграмма рассеяния</option>
                    <option value="box_plot">Ящик с усами</option>
                    <option value="pie_chart">Круговая диаграмма</option>
                    <option value="multiple_histograms">Множественные гистограммы</option>
                    <option value="line_chart">Линейный график</option>
                    <option value="logarithmic_chart">Логарифмический график</option>
                </select>
                <!-- Контейнер для выбора столбцов -->
                <label for="columns-select" class="chart-label">Выберите столбцы:</label>
                <div id="checkbox-container" class="checkbox-container"></div>
                <div class="buttons-group">
                    <button id="build-chart" class="btn-submit">Построить график</button>
                    <button id="clear-charts" class="btn-submit">Очистить графики</button>
                </div>
            </div>
            <!-- Контейнер для графиков -->
            <div id="chart-container" class="chart-container hidden"></div>
            <!-- Контейнер для описательной статистики -->
            <div id="stats-container" class="stats-container hidden"></div>
            <!-- Контейнер для описания статистических показателей -->
            <div id="stats-description-container" class="description-container hidden"></div>
        </main>
        <!-- Футер страницы -->
        <footer class="footer-container">
            <p class="contact-info">Связаться с нами:</p>
            <a href="https://t.me/smartmedtest_bot" target="_blank" class="telegram-link">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.65 8.46-2.212 10.65c-.165.731-.595.905-1.204.562l-3.33-2.46-1.608 1.546c-.17.17-.31.31-.636.31l.232-3.26 5.924-5.377c.257-.232-.057-.363-.399-.131l-7.31 4.596-3.146-1c-.684-.213-.699-.684.143-1.01l12.296-4.54c.567-.207 1.063.131.85.996z"/>
                </svg>
            </a>
        </footer>
    </div>
    <!-- Подключение JavaScript -->
    <script src="{% static 'analyze.js' %}"></script>
</body>
</html>
