<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сравнительный анализ</title>
    <link rel="stylesheet" href="{% static 'comparative_analysis.css' %}">
</head>
<body>
    <div class="page-container">
        <header class="header">
            <div class="logo-container">
                <img src="{% static 'img/logo.jpg' %}" alt="Логотип" class="logo">
            </div>
            <nav class="nav-bar">
                <ul class="nav-list">
                    <li><a href="{% url 'authentication:modules' %}" class="nav-button">Модули</a></li>
                    <li><a href="{% url 'authentication:log' %}" class="nav-button">Выход</a></li>
                </ul>
            </nav>
        </header>        
        <main class="main-content">
            <h1 class="title">Сравнительный анализ</h1>
            <form id="file-upload-form" enctype="multipart/form-data" method="post" class="analysis-form">
                {% csrf_token %}
                <label for="file-input" class="file-label">Загрузите файл данных (XLSX, CSV):</label>
                <input type="file" id="file-input" name="file" class="input-file" accept=".xls, .xlsx, .csv" required>
                <button type="submit" class="btn-submit">Загрузить</button>
            </form>
            <div id="upload-message-container" class="message-container hidden"></div>  <!-- Контейнер для сообщений загрузки -->

            <div id="column-selection" class="hidden">
                <h2 class="subtitle">Выберите параметры для анализа</h2>
                
                <!-- Поля для выбора колонок по умолчанию -->
                <div id="default-fields">
                    <label for="column1-select">Первая колонка:</label>
                    <select id="column1-select" name="column1" class="select-input" required>
                        <option value="">-- Выберите колонку --</option>
                    </select>

                    <label for="column2-select">Вторая колонка:</label>
                    <select id="column2-select" name="column2" class="select-input" required>
                        <option value="">-- Выберите колонку --</option>
                    </select>
                </div>

                <!-- Дополнительные поля для К-С критерия -->
                <div id="ks-fields" class="hidden">
                    <h3>Настройки для Критерия Колмогорова-Смирнова</h3>
                    
                    <label for="independent-variable-select">Выберите независимую переменную:</label>
                    <select id="independent-variable-select" name="independent_variable" class="select-input" required>
                        <option value="">-- Выберите независимую переменную --</option>
                    </select>
                    <div class="explanation">
                        <p><strong>Независимая переменная</strong> представляет набор количественных, непрерывных значений, например, возраст пациента, уровень лейкоцитов и т.д.</p>
                    </div>

                    <label for="grouping-variable-select">Выберите группирующую переменную:</label>
                    <select id="grouping-variable-select" name="grouping_variable" class="select-input" required>
                        <option value="">-- Выберите группирующую переменную --</option>
                    </select>
                    <div class="explanation">
                        <p><strong>Группирующая переменная</strong> - переменная, используемая для разбиения независимой переменной на группы, для данного критерия является бинарной переменной, например, пол, группа и т.д.</p>
                    </div>
                </div>

                <!-- Дополнительные поля для Т-критерия Стьюдента для независимых выборок -->
                <div id="t-independent-fields" class="hidden">
                    <h3>Настройки для Т-критерия Стьюдента (независимые выборки)</h3>
                    
                    <label for="t-indep-independent-variable-select">Выберите независимую переменную:</label>
                    <select id="t-indep-independent-variable-select" name="t_indep_independent_variable" class="select-input" required>
                        <option value="">-- Выберите независимую переменную --</option>
                    </select>
                    <div class="explanation">
                        <p><strong>Независимая переменная</strong> представляет набор количественных, непрерывных значений, например, возраст в основной и контрольной группе, содержание глюкозы в крови пациентов, принимавших препарат или плацебо.</p>
                    </div>

                    <label for="t-indep-grouping-variable-select">Выберите группирующую переменную:</label>
                    <select id="t-indep-grouping-variable-select" name="t_indep_grouping_variable" class="select-input" required>
                        <option value="">-- Выберите группирующую переменную --</option>
                    </select>
                    <div class="explanation">
                        <p><strong>Группирующая переменная</strong> - переменная, используемая для разбиения независимой переменной на группы, для данного критерия является бинарной переменной, например, пол, группа и т.д.</p>
                    </div>
                </div>

                <!-- Дополнительные поля для Т-критерия Стьюдента для зависимых выборок -->
                <div id="t-dependent-fields" class="hidden">
                    <h3>Настройки для Т-критерия Стьюдента (зависимые выборки)</h3>
                    
                    <label for="t-dep-variable1-select">Выберите первую переменную:</label>
                    <select id="t-dep-variable1-select" name="t_dep_variable1" class="select-input" required>
                        <option value="">-- Выберите первую переменную --</option>
                    </select>
                    <div class="explanation">
                        <p><strong>Первая переменная</strong> представляет набор количественных, непрерывных значений, например, частота сердечных сокращений до приема препарата.</p>
                    </div>

                    <label for="t-dep-variable2-select">Выберите вторую переменную:</label>
                    <select id="t-dep-variable2-select" name="t_dep_variable2" class="select-input" required>
                        <option value="">-- Выберите вторую переменную --</option>
                    </select>
                    <div class="explanation">
                        <p><strong>Вторая переменная</strong> - соответствующая переменная после воздействия, например, частота сердечных сокращений после приема препарата.</p>
                    </div>
                </div>

                <label for="test-type" class="chart-label">
                    Выберите тип теста:
                    <div class="tooltip" tabindex="0">
                        ❓
                        <span class="tooltip-text" id="test-tooltip">Выберите тип теста для анализа данных.</span>
                    </div>
                </label>
                <select id="test-type" name="test_type" class="select-input" required>
                    <option value="">-- Выберите тест --</option>
                    <option value="kolmogorov_smirnov">Критерий Колмогорова-Смирнова</option>
                    <option value="t_criterion_student_independent">Т-критерий Стьюдента (независимые выборки)</option>
                    <option value="t_criterion_student_dependent">Т-критерий Стьюдента (зависимые выборки)</option>
                    <option value="u_criterion_mann_whitney">U-критерий Манна-Уитни</option>
                    <option value="t_criterion_wilcoxon">Т-критерий Уилкоксона</option>
                    <option value="chi2_pearson">Критерий Хи-квадрат Пирсона</option>
                    <option value="sensitivity_specificity">Чувствительность и специфичность</option>
                    <option value="risk_relations">Отношение рисков (RR)</option>
                    <option value="odds_relations">Отношение шансов (OR)</option>
                </select>
                <button id="analyze-button" class="btn-submit">Выполнить анализ</button>
            </div>

            <div id="analysis-message-container" class="message-container hidden"></div>  <!-- Контейнер для сообщений анализа -->

            <div id="analysis-results" class="results-container hidden">
                <!-- Результаты анализа будут отображаться здесь -->
            </div>

            <!-- Контейнер для графиков -->
            <div id="chart-container" class="chart-container hidden"></div>
        </main>
        <footer class="footer-container">
            <p class="contact-info">Связаться с нами:</p>
            <a href="https://t.me/smartmedtest_bot" target="_blank" class="telegram-link">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.65 8.46-2.212 10.65c-.165.731-.595.905-1.204.562l-3.33-2.46-1.608 1.546c-.17.17-.31.31-.636.31l.232-3.26 5.924-5.377c.257-.232-.057-.363-.399-.131l-7.31 4.596-3.146-1c-.684-.213-.699-.684.143-1.01l12.296-4.54c.567-.207 1.063.131.85.996z"/>
                </svg>
            </a>
        </footer>
    </div>
    <script src="{% static 'comparative_analysis.js' %}"></script>
</body>
</html>
