<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMed</title>
    <link rel="stylesheet" href="{% static 'welcom.css' %}">
</head>
<body>
    <div class="screen">
        <header class="header">
            <nav class="nav">
                <!-- Заглушка для Профиль -->
                <a href="#" class="button" id="profile-btn">Профиль</a>

                <!-- Заглушка для Поиск Курсов -->
                <a href="#" class="button" id="search-courses-btn">Поиск Курсов</a>

                <!-- Рабочая ссылка для Модули -->
                <a href="{% url 'authentication:modules' %}" class="button" id="modules-btn">Аналитические Модули</a>

                <a href="{% url 'authentication:log' %}" class="button" id="login-btn">Вход</a>
                <a href="#" class="button" id="logout-btn" style="display: none;">Выход</a>
            </nav>
            <p class="login-prompt" id="login-prompt">Пожалуйста, войдите, чтобы продолжить</p>
        </header>

        <section class="image" style="background-image: url('{% static 'img/image.png' %}');">
            <div class="text-card">
                <h1 class="text" id="welcome-text">Анализируйте медицинские данные и исследуйте модули с «Sm-Ecosystem»</h1>
            </div>
        </section>

        <div class="logo">
            <img src="{% static 'img/logo.jpg' %}" alt="Логотип">
        </div>

        <footer class="footer">
            <p class="copyright">Copyright by NGINE</p>
        </footer>
    </div>    
    <script src="{% static 'welcome.js' %}"></script>
</body>
</html>
