<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузить файл для анализа</title>
    <link rel="stylesheet" href="{% static 'analyze.css' %}">
</head>
<body>

    <!-- Блок для формы загрузки файла -->
    <div class="container">
        <h1>Загрузить файл для анализа</h1>
        <form id="file-upload-form" enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            <label for="file-input">Выберите файл (XLS, XLSX, CSV):</label>
            <input type="file" id="file-input" name="file" class="input" accept=".xls, .xlsx, .csv" required>
            <button type="submit" class="btn">Отправить файл</button>
        </form>
        <p id="upload-error" class="error-message"></p>
    </div>

    <!-- Отдельный блок для графика -->
    <div id="chart-container">
        <canvas id="chart"></canvas>
    </div>

    <!-- Подключение библиотеки Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'analyze.js' %}"></script>
</body>
</html>
